@model ApplicationCore.Models.MovieDetailsModel

<h2>
    @Model.Title
</h2>

<h3>
    @Model.Overview
</h3>

@foreach (var trailer in @Model.Trailers)
{
    <div>
        @trailer.Name
    </div>
}    